html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  margin: 1% 0;
}


/*------------------------------------------------------------reset -----------------------------------*/

.main {
  background: #fff;
  font-family: OpenSans;
}

.main h1 { 
  color: #19677e;
  font-family: OpenSans;
  font-size: 2em;
  font-weight: 600;
}

header {
  max-height: 95px;
}

.header-btn-cart {
  max-width: 176px;
  max-height: 46px;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: white;
  border: 1px solid #41c5dc;
  border-radius: 5px;
  padding: 1%;
}

.header-content {
    padding: 5px 0;
}

.margin-center {
    margin: 0 auto;
}

nav{
  width: 100%;
  height: 50px;
  background-color: #41c5dc; 
}

nav ul > li {
  display: inline-block;
  list-style: none;   
  width: 12%;
  padding: 1%;
  text-align: center;
}

nav ul > li:hover {
  background-color: #66d1e3;

}

nav ul > li > a {
text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
}

.banner {
  width: 100%;
  height: 537px;
  position:relative;
}

.banner h1 { 
    color: #19677e;
    font-size: 36px;
    font-weight: 500; 
    padding: 5% 0;
}

.banner ul > li {
  width: 290px;
  color: #19677e;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.banner button {
    background-color: #ffbc2d;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: 700; 
    padding: 5% 15%;
    margin: 4% 10%;
}

.banner button:hover {
    background-color: #f7ce76;
}

.blue-list {
    position: absolute;
    margin-top: -70px;
}

.list-menu { 
  color: #fff;
}

.list-menu h2 {
  font-weight: 700;
  font-size: 1.4em;
  margin: 3% 0;
}

.list-item-1 {
  padding: 3% 3% 0 3%;
  background-color: #66d1e3;
}

.list-item-2 {
  padding: 3% 3% 0 3%; 
  background-color: #41c5dc;
}
.list-item-3 {
  padding: 3% 3% 0 3%; 
  background-color: #40afdd;
}
.list-item-4 {
  padding: 3% 3% 0 3%; 
  background-color: #329bdd;
}

.text-prod {
  margin-top: 120px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.content {
  max-width: 80%;
  margin-left: 10%;
}

.content-welcome {
  margin-right: 2%;
}

.content-welcome p, .content-welcome ul {
  margin: 2% 0px;
  line-height: 1.5em;
}

.content-welcome ul > li {
  padding: 1% 0;
}

h2 {
  font-size: 2.5em;
}

.content hr {
  color: #41c5dc;
}

.gray-content-block { 
  width: 270px;
  padding: 3% 0;
  height: 350px;
  background-color: #eee;
  padding: 7%;
  margin: 5% 0px;
}

.gray-content-block h2 {
    text-transform: uppercase; 
    font-size: 2em; 
    line-height: 1.2em;
    margin-bottom: 5%;
}

.gray-content-block h2 > span {
    color: #329bdd;
}

.gray-content-block p {
    font-size: 1.3em; 
}

.gray-content-block input {
    height: 50px; 
    margin: 10% 0% 5%;
        padding: 0 5%;
}

.blue-btn {
  background-color: #41c5dc;
  border-radius: 3px;
  color: white; 
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product {
  border: 1px solid #ddd;
  padding: 2%;
  margin: 1%;
}

.product img {
  max-height: 160px;
      display: flex; 
    margin: 0 auto;
}

.btn-buy {
  background-color: #66d1e3;
  border-radius: 2px;
  color: #fff;
}

.btn-sign-up {
      margin: 5% 0;
}

.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove {
     /* здесь прописаны эффекты проявления и исчезновения слайда */
     -webkit-transition: 1s linear all;
     -moz-transition: 1s linear all;
     -o-transition: 1s linear all;
     transition: 1s linear all;
     display: block !important;
}
.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove.ng-hide-remove-active {
     /* это стартовая точка анимации исчезновения и конечная точка анимации проявления */
     opacity: 1;
 }
.animation-fade.ng-hide-add.ng-hide-add-active,
.animation-fade.ng-hide-remove {
     /* это конечная точка анимации исчезновения и стартовая точка анимации проявления */
     opacity: 0;
     position: absolute;
}

.slider-img {
    width:100%;
    height:537px;
    overflow:hidden;
}

.modal-img {
    width: 98%;
    max-height: 300px;
    padding:1%;
}

.right-img { 
    background: url("../img/w2.png") no-repeat;
    max-width: 270px !important;
    max-height: 270px !important;
}

footer {
    background-color: #647b86;
	color:#fff;
}

.footer-item > div {
	padding:3% 3% 3% 0;
}

footer ul > li > a{
  color: #d4e5ed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration:none;
}

footer h3 {
	border-bottom:#fff solid 1px;
	color:#fff;
	margin-bottom:2%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.bottom-wrapper {
  background: url("../img/wrapper.png"); 
  height: 600px;
  background-size: 100%;
  text-align: center;
}

.bottom-arrow {
  text-align: center;
  padding: 5% 0;
}

.bottom-wrapper p {
  color: white;
  font-size: 3em;
  font-weight: 700;
  line-height: 65px;

}

.bottom-wrapper button {
  color: white;
  font-size: 1em;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;
  background-color: #ffbc2d;
  border-radius: 2px;
  border: none;
  padding: 0% 5%;
}

.img-width {
    max-width: 550px;
    width: 100%;
}

.img-width-drags{
    max-width: 310px;
    width: 100%;
}

.p-name {

  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.p-date {

  color: #66d1e3;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
}

.p-text {
  color: #515151;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.client-section {
  padding-right: 2%;
}

.copyright {
   color: #92a7b1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 2%;
}

.btn-plus {
    font-size: 16px;
    font-weight: 900;
    padding: 0 4px;
    border: 2px solid #fff;
    border-radius: 30px;
}

.text-wrapper {
  position:absolute; 
  left:15%; 
  top:10%;
  outline: none;
}

.text-wrapper :focus {
    outline: none;
}

.h1_number_element {
      text-align: center;
    font-size: 2em;
}

md-menu-content { 
    max-height: none;
  }

  md-menu-item {
    height: 65px;
  }

  md-menu-content.md-default-theme, md-menu-content {
    background-color: rgb(102, 209, 227);
        margin-left: -10px;
  }

  md-menu-item > .md-button {
    font-size: 1.2em;
    color: #fff;
  }
 

  @media screen and (max-width: 960px) {
    .main h1 {
      font-size: 1.5em;
    }

    .header-btn-cart {
        margin: 0 25%;
        width: 50%;
        padding: 0 5%;
    }

    h2 {
        font-size: 1.7em;
    }

    .list-menu h2 {
        text-align: center;
    }

    .blue-list {
      position: relative;
      margin-top: 0;
    }

    .content-welcome p, .content-welcome ul {
      margin: 2% 0px;
      line-height: 1em;
    }
    .text-prod {
      margin-top: 10px;x
    }
    .footer-item > div {
      padding: 2% 3% 1% 0;
    }

    .working_hours-block {
      max-height: 165px;
    }
}