<div class="main">
    <header>
	 <div layout="row">
	    <div flex="80" flex-xs="100" class="margin-center header-content">
		<div layout="row" >
			<div flex layout="row" layout-sm="column" layout-xs="column">
			    <div flex="15" flex-lg="10">
			        <img src="../img/logo.png" alt="logo">
			    </div>
			    <div flex="30" layout="row" layout-align="center center">
			        <h1>HealthShop.com</h1>
			    </div>
			</div>    
			<div flex></div>
		    <div flex="20"  flex-xs="40" layout="column">
		    	<div flex layout="row" layout-align="center center">
		           		<span>Sign In / Register</span>
				</div>
		        <div flex layout="row" layout-align="center center">
		            <div class="header-btn-cart"  layout="row" layout-align="center center">
		                <div flex="20" flex-xs="60" flex-sm="60">
		                    <img  src="../img/layer-4.png" alt="cart">
		                </div>
		                <p flex show-gt-sm hide-xs hide-sm> My Cart (0 items) </p>
		                <p flex show-xs show-sm hide-gt-sm> 0 </p>
		            </div>
		        </div>
		    </div>
		</div>
	   </div>
	 </div>
    </header>
    <nav>
	 <div layout="row">
	     <div flex="80" show-gt-xs hide-xs class="margin-center">
			<ul>
				<li> <a href="#"> Home </a> </li>
				<li> <a href="#"> About_Us </a> </li>
				<li> <a href="#"> Shipping </a> </li>
				<li> <a href="#">  F.A.Q </a> </li>
				<li> <a href="#"> Reviews </a> </li>
				<li> <a href="#"> Contact_Us </a> </li>
				<li> <a href="#"> Personal Cabinet </a> </li>
			</ul>
	     </div>
		 <div hide-gt-xs show-xs flex="100">
			 <md-menu>
				 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
					<img alt="" src="../img/3-layers.png"> MENU
				 </md-button>
				 <md-menu-content width="6">
					 <md-menu-item>
						 <md-button>
							 Home
						 </md-button>
					 </md-menu-item>
					 <md-menu-item>
						 <md-button>
							About_Us
						 </md-button>
					 </md-menu-item>  
					  <md-menu-item>
						 <md-button>
							Shipping
						 </md-button>
					 </md-menu-item>  
					  <md-menu-item>
						 <md-button>
							 F.A.Q
						 </md-button>
					 </md-menu-item>  
					  <md-menu-item>
						 <md-button>
							Reviews
						 </md-button>
					 </md-menu-item>  
					  <md-menu-item>
						 <md-button>
							Contact_Us
						 </md-button>
					 </md-menu-item>  
					   <md-menu-item>
						 <md-button>
							 Personal Cabinet
						 </md-button>
					 </md-menu-item> 
				 </md-menu-content>
			 </md-menu>
		 </div>
	 </div>

    </nav>
    <div class="banner" layout="row">  
		<div flex ng-repeat="(i, slide) in slides" class="animation-fade slider-img" ng-show=" i == slideIndex">
			<img flex ng-src="{{ slide.image }}" ng-click="openModal($event, slideIndex)" />
		</div>
		<div layout="row" ng-click="openModal($event, slideIndex)" class="text-wrapper">
			<div flex="50">
				<h1>Ledifos</h1>
				<ul>
					<li> <img alt="" src="../img/layer-8.png"> Phasellus gravida, purus nec  </li>
					<li> <img alt="" src="../img/layer-8.png"> Curabitur interdum metus leo </li>
					<li> <img alt="" src="../img/layer-8.png"> Fusce quam magna, maximus a magna </li>
					<li> <img alt="" src="../img/layer-8.png"> Nunc placerat facilisis purus </li>
					<li> <img alt="" src="../img/layer-8.png"> Vivamus ultrices felis at odio sagittis </li>
					<li> <img alt="" src="../img/layer-8.png"> Fusce quam magna, maximus a magna </li>
				</ul>
				<md-button> ORDER NOW</md-button>
			</div>
			<div flex hide-sm hide-xs show-gt-sm>
				<img src="../img/layer-6.png" alt="drags">
			</div>
		</div>
    </div>
    <div layout="row" class="blue-list">
	  <div flex="80" flex-sm="100" flex-xs="100" class="margin-center">
	    	<div layout="row" layout-xs="column" layout-sm="column" class="list-menu">
				<div flex class="list-item-1">
					<h2>Praesent scelerisque</h2>
					<p hide-xs show-gt-xs>Cum sociis natoque penatibus et magnis dis parturient liquam montes liquam montes.</p>
					<p class="bottom-arrow">
						<img alt="" src="../img/shape-1.png">
					</p>
				</div>
				<div flex class="list-item-2">
					<h2>Praesent scelerisque</h2>
					<p hide-xs show-gt-xs>Cum sociis natoque penatibus et magnis dis parturient liquam montes liquam montes.</p>
					<p class="bottom-arrow">
						<img alt="" src="../img/shape-1.png">
					</p>
				</div>
				<div flex class="list-item-3">
					<h2>Praesent scelerisque</h2>
					<p hide-xs show-gt-xs>Cum sociis natoque penatibus et magnis dis parturient liquam montes liquam montes.</p>
					<p class="bottom-arrow">
						<img alt="" src="../img/shape-1.png">
					</p>
				</div>
				<div flex class="list-item-4">
					<h2>Praesent scelerisque</h2>
					<p hide-xs show-gt-xs>Cum sociis natoque penatibus et magnis dis parturient liquam montes liquam montes.</p>
					<p class="bottom-arrow">
						<img alt="" src="../img/shape-1.png">
					</p>
				</div>
	 		</div>
		</div>
	</div>
    <div class="text-prod">
        Our Products
    </div>
    <div layout="row" layout-wrap class="content">
        <div class="product" flex-lg="20" flex-xs="100" flex ng-repeat="product in products" style="min-width:250px;">
            <img ng-src="{{product.img}}" alt="item">
            <p> {{product.name}} </p>
            <hr>
            <div layout="row">
                <div flex>
                    {{ product.price }}
                </div>
                <div flex>
                    <md-button class="btn-buy">Buy now</md-button>
                </div>
            </div>
        </div>
    </div>
    <section layout="row" flex layout-wrap class="content">
            <div flex flex-sm="100" flex-xs="100" class="content-welcome">
                <h2>Welcome</h2>
                <hr>
                <p>Ut efficitur nunc quis mauris ullamcorper interdum. Praesent consequat porta posuere. Etiam varius, massa in sollicitudin elementum, purus augue tincidunt lorem, non tincidunt nunc tortor cursus lacus. Proin leo orci, commodo vestibulum ligula vitae, tincidunt pretium quam. Ut ullamcorper ornare urna, quis vehicula tortor placerat nec. Sed tempus quam fermentum, porttitor nisi at, ornare dui. Curabitur ac nulla eget dolor molestie egestas nec vel lacus. Sed egestas, erat vitae sodales aliquam, turpis odio facilisis sem, vitae ullamcorper.
                </p>
                <div layout="row" layout-xs="column">
                    <div flex="70" flex-sm="100" flex-xs="100" layout="row" layout-align="center center">
                        <img src="../img/w1.png" alt="welcome_img" class="img-width">
                    </div>
                    <div flex="30" flex-sm="100" flex-xs="100" layout="row" layout-align="center center">
                        <img src="../img/w2.png" alt="welcome_img" class="img-width-drags">
                    </div>
                </div>
                <p>Ut efficitur nunc quis mauris ullamcorper interdum. Praesent consequat porta posuere. Etiam varius, massa in sollicitudin elementum, purus augue tincidunt lorem, non tincidunt nunc tortor cursus lacus. Proin leo orci, commodo vestibulum ligula vitae, tincidunt pretium quam. Ut ullamcorper ornare urna, quis vehicula tortor placerat nec. </p>
                <h2>Tips that May Help You Get Better Results</h2>
                <hr>
                <ul>
                    <li>- 1 capsule once a day before or after breakfast. Do not take more capsules than recommended.</li>

                    <li>- Drink a lot of water and eat more fruits if feel thirsty (insufficient water will reduce the body's glucose level in
                        the blood, which may easily cause weakness and dizziness).</li>

                    <li>  - Do not skip meals (especially breakfast and lunch), it is important to maintain a healthy and a balanced diet
                        while taking this product, including pure water and natural juices.</li>

                    <li>  - Do not drink alcohol. It may neutralize the effectiveness of the slimming process.</li>

                    <li>  - Not for people younger than 18 or older that 60 years old.</li>
                </ul>
            </div>
            <div flex="30"  layout-align="center center" hide-sm hide-xs show-gt-sm>
                <img src="../img/layer-16.png" alt="welcome_img">
                <div class="gray-content-block">
                	<h2>Get our <span>top Products</span> and <span>more</span></h2>
                	<p>Delivered to your inbox for free!</p>
                	<input placeholder="Enter Your Email">
                	<md-button class="blue-btn btn-sign-up">Sing Up</md-button>
                </div>
            </div>
    </section>
	<section layout="row" class="bottom-wrapper" layout-align="center center" layout-wrap hide-sm hide-xs show-gt-sm>
		<div flex="40">
			<p>Nunc id lectus laoreet, semper
				orci sit amet, egestas tellus</p>
			<button>Learn more</button>
		</div>
	</section>
	<section layout="row" layout-wrap>
		<div flex="80"  class="margin-center">
			<div layout="row">
				<div flex="70" flex-sm="100" flex-xs="100" class="client-section">
					<h2>What our happy clients say</h2>
					<hr>
					<div>
						<p class="p-name">Margaret Perry</p>
						<p class="p-date">03/29/2015</p>
						<p class="p-text">I was over weight and put myself on a strict diet along with some cardios, regretfully however, my weight didn’t change much. Under my workmat’s recommendation, I took this ****. I can not say this works magically but it definitely helps me lose weight and control itchy teeth.</p>
						<hr>
					</div>
					<div>
						<p class="p-name">Margaret Perry</p>
						<p class="p-date">03/29/2015</p>
						<p class="p-text">I was over weight and put myself on a strict diet along with some cardios, regretfully however, my weight didn’t change much. Under my workmat’s recommendation, I took this ****. I can not say this works magically but it definitely helps me lose weight and control itchy teeth.</p>
						<hr>
					</div>
					<div>
						<p class="p-name">Margaret Perry</p>
						<p class="p-date">03/29/2015</p>
						<p class="p-text">I was over weight and put myself on a strict diet along with some cardios, regretfully however, my weight didn’t change much. Under my workmat’s recommendation, I took this ****. I can not say this works magically but it definitely helps me lose weight and control itchy teeth.</p>
						<hr>
					</div>
				</div>
				<div flex="30" class="right-img" layout="row" layout-align="center center" hide-sm hide-xs show-gt-sm layout-wrap>
					<md-button class="blue-btn" style=" ">
						buy
					</button>
				</div>
			</div>
		</div>
	</section>
	<footer layout="row" layout-wrap>
		<div layout="row" layout-sm="column" layout-xs="column" layout-wrap flex="80" class="margin-center footer-item">
	 		<div flex-gt-sm>
				<h3>MENU <span ng-model="menu" ng-click="showMenu(menu)" class="btn-plus" hide-gt-sm show-sm>+</span></h3>
				<ul ng-model="menu" ng-show="menu">
					<li> <a href="#"> Home </a> </li>
					<li> <a href="#"> About_Us </a> </li>
					<li> <a href="#"> Shipping </a> </li>
					<li> <a href="#">  F.A.Q </a> </li>
					<li> <a href="#"> Reviews </a> </li>
					<li> <a href="#"> Contact_Us </a> </li>
					<li> <a href="#"> Personal Cabinet </a> </li>
				</ul>
			</div>
			<div flex-gt-sm class="working_hours-block">
				<h3>WORKING HOURS<span ng-model="working" ng-click="showWorking(working)" class="btn-plus" hide-gt-sm show-sm>+</span></h3>
				<div ng-model="working" ng-show="working" layout="row" layout-wrap flex="80" class="footer-item">
					<div flex>
						<ul>
							<li> <a href="#">MON  </a> </li>
							<li> <a href="#">TUE  </a> </li>
							<li> <a href="#">WED </a> </li>
							<li> <a href="#">THU </a> </li>
							<li> <a href="#">FRI  </a> </li>
						</ul>
					</div>
					<div flex>
						<ul>
							<li> <a href="#">9 AM – 6 PM  </a> </li>
							<li> <a href="#">9 AM – 6 PM  </a> </li>
							<li> <a href="#">9 AM – 6 PM  </a> </li>
							<li> <a href="#">9 AM – 6 PM  </a> </li>
							<li> <a href="#">9 AM – 6 PM  </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div flex-gt-sm>
				<h3>ADDRESS<span ng-model="address" ng-click="showaddress(address)" class="btn-plus" hide-gt-sm show-sm>+</span></h3>
				<ul ng-model="address" ng-show="address">
					<li> <a href="#"> Galaxy Tower - 228b Baker Street </a> </li>
					<li> <a href="#"> London - United Kingdom </a> </li>
				</ul>
			</div>
			<div flex>
				<h3>SOCIAL</h3>
				<img alt="soc" src="../img/social-icons.png">
			</div>
		</div>
		<div flex="80" class="margin-center copyright">© 2016 HealthShop.com. All Rights Reserved. </div>
	</footer>
</div>
